##Step 2##

Use SQLAlchemy to model your table schemas and create a sqlite database for your tables. You will need one table for measurements and one for stations.


Create a Jupyter Notebook called database_engineering.ipynb and use this to complete all of your Database Engineering work.
Use Pandas to read your cleaned measurements and stations CSV data.
Use the engine and connection string to create a database called hawaii.sqlite.

Use declarative_base and create ORM classes for each table.


You will need a class for Measurement and for Station.
Make sure to define your primary keys.


Once you have your ORM classes defined, create the tables in the database using create_all.

In [1]:
# Import Matplot lib
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Import SQLAlchemy `automap` and other dependencies here
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, MetaData, inspect, func
from sqlalchemy import func
from sqlalchemy import Column, Integer, String, Float, Text,Date

In [3]:
# Create an engine for the `Hawaii.sqlite` database
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
conn = engine.connect()

In [4]:
Base = declarative_base()
class Measurements(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Date)
    prcp = Column(Float)  
    tobs = Column(Float)
Base.metadata.create_all(engine)
meas_df = pd.read_csv("Resources/clean_meas_df.csv")
meas_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [5]:
meas_df['date'] = pd.to_datetime(meas_df['date'], format = '%Y-%m-%d')
meas_data = meas_df.to_dict(orient='records')

In [6]:
metadata = MetaData(bind=engine)
metadata.reflect()
measurement_table = sqlalchemy.Table('measurements', metadata, autoload=True)
conn.execute(measurement_table.insert(), meas_data)
conn.execute("select * from measurements limit 5").fetchall()

[(1, 'USC00519397', '2016-08-24', 0.08, 79.0),
 (2, 'USC00519397', '2016-08-25', 0.08, 80.0),
 (3, 'USC00519397', '2016-08-26', 0.0, 79.0),
 (4, 'USC00519397', '2016-08-27', 0.0, 77.0),
 (5, 'USC00519397', '2016-08-28', 0.01, 78.0)]

In [7]:
class Stations(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)  
    longitude = Column(Float)
    elevation = Column(Float)

In [8]:
Base.metadata.create_all(engine)
station_df = pd.read_csv("Resources/clean_station_df.csv")
station_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,WAIKIKI 717.2,21.2716,-157.8168,3.0
1,USC00513117,KANEOHE 838.1,21.4234,-157.8015,14.6
2,USC00514830,KUALOA RANCH HEADQUARTERS 886.9,21.5213,-157.8374,7.0
3,USC00517948,PEARL CITY,21.3934,-157.9751,11.9
4,USC00518838,UPPER WAHIAWA 874.3,21.4992,-158.0111,306.6

In [9]:
Base.metadata.create_all(engine)

In [10]:
station_data = station_df.to_dict(orient='records')
station_data

[{'station': 'USC00519397',
  'name': 'WAIKIKI 717.2',
  'latitude': 21.2716,
  'longitude': -157.8168,
  'elevation': 3.0},
 {'station': 'USC00513117',
  'name': 'KANEOHE 838.1',
  'latitude': 21.4234,
  'longitude': -157.8015,
  'elevation': 14.6},
 {'station': 'USC00514830',
  'name': 'KUALOA RANCH HEADQUARTERS 886.9',
  'latitude': 21.5213,
  'longitude': -157.8374,
  'elevation': 7.0},
 {'station': 'USC00517948',
  'name': 'PEARL CITY',
  'latitude': 21.3934,
  'longitude': -157.9751,
  'elevation': 11.9},
 {'station': 'USC00518838',
  'name': 'UPPER WAHIAWA 874.3',
  'latitude': 21.4992,
  'longitude': -158.0111,
  'elevation': 306.6},
 {'station': 'USC00519523',
  'name': 'WAIMANALO EXPERIMENTAL FARM',
  'latitude': 21.33556,
  'longitude': -157.71139,
  'elevation': 19.5},
 {'station': 'USC00519281',
  'name': 'WAIHEE 837.5',
  'latitude': 21.45167,
  'longitude': -157.84888999999995,
  'elevation': 32.9},
 {'station': 'USC00511918',
  'name': 'HONOLULU OBSERVATORY 702.2',
  'latitude': 21.3152,
  'longitude': -157.9992,
  'elevation': 0.9},
 {'station': 'USC00516128',
  'name': 'MANOA LYON ARBO 785.2',
  'latitude': 21.3331,
  'longitude': -157.8025,
  'elevation': 152.4}]

In [11]:
metadata = MetaData(bind=engine)
metadata.reflect()
station_table = sqlalchemy.Table('stations', metadata, autoload=True)
conn.execute(station_table.insert(), station_data)
conn.execute("select * from stations limit 5").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3', 21.4992, -158.0111, 306.6)]